tr.assignments-header>td {
    background-color:#ccffcc;
    text-align: center;
    vertical-align: middle;
}
td[data-copy-from] {
    white-space: normal;
}
[data-copy-from], .data-copy-from {
    font-family: consolas,monaco,profont,monospace;
    font-weight: bold;
    margin-left: 0px;
}
table.same-line-label-layout td[data-copy-from] {
    padding-left: 0px;
}
